td,th{
	border: 1px solid rgba(3,156,114,0.9);
	border-top-width: 20%;
	width: 85%;
	padding: 10px;
	color: white;
	text-align: center;
}

a{
	border: 1px solid rgba(3,156,114,0.9);
	top: 200px;
	left: 90px;
	color: rgb(3,156,114);
	position: absolute;
	margin: auto;
	background-color: black;
	font-size: 22px;
}



body{
	background-color: rgba(51,51,51,0.9);
	
}

table{
	border-collapse: collapse;
	
}

div.tableau{
	top: 200px;
	left: 200px;
	position: absolute;
	margin: auto;
}

h1{
	top: 150px;
	left: 350px;
	position: absolute;
	margin: auto;
	color: rgb(3,156,114);
}