td,th{
	border: 1px solid rgba(3,156,114,0.9);
	width: 85%;
	padding: 10px;
	color: white;
	text-align: center;
}



body{
	background-color: rgba(51,51,51,0.9);
	
}

table{
	border-collapse: collapse;
	
}

div.tableau{
	top: 200px;
	left: 200px;
	position: absolute;
	margin: auto;
}

h1{
	top: 100px;
	left: 350px;
	position: absolute;
	margin: auto;
	color: rgb(3,156,114);
}