div#megadiv div.


.rotation90 {
	width:10%;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
   border: 2px solid black;
	position: absolute;
	top: 15px;
	right: 2px;
	display: block;
	margin: auto;
	}



.logo {width:4%;}




#box photo {
	border: 2px solid black;
	position: absolute;
	top: 15px;
	right: 2px;
	display: block;
	margin: auto;
}





div#megadiv div.gauche{
	position: absolute;
	top: 12px;
	left: 2px;
	display: block;
	margin: auto;
	border: 2px solid black;
	
}

