.rotation90 {
	width:20%;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
	}
.logo {width:4%;}


#box photo {
	border: 2px solid black;
	position: absolute;
	top: 15px
	left: 150px;
}

