.rotation90 {
	width:15%;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
   border: 2px solid #f5d033;
	position: absolute;
	top: 50px;
	right: 10px;
	display: block;
	margin: auto;
	}



.logo {width:4%;
}


body {
	background-color: #7f7679;
}


a {text-decoration: none;
	
}

div#megadiv div.gauche{
	top: 12px;
	left: 2px;
	display: block;
	margin: auto;
	border: 2px solid #f5d033;
}



h2{
	position: absolute;
	display: block;
	margin: auto;
	border: 2px solid #f5d033;
	background-color: #8F8891;
	width: 100%;
}




h3{
	text-decoration: underline grey;
	left: 10%;
	position: absolute;
	display: block;
	margin: auto;
}
	
	
	
	
	
	
ul{
	left: 20px;
	display: block;
	margin: auto;
}

div[id^="clickbro"]{
	display: none;
	
}